.custom-background {
  background: radial-gradient(
      at bottom right,
      #57f4d2 0,
      #57f4d2 17.25px,
      rgba(87, 244, 210, 0.2) 17.25px,
      rgba(87, 244, 210, 0.2) 34.5px,
      rgba(87, 244, 210, 0.75) 34.5px,
      rgba(87, 244, 210, 0.75) 51.75px,
      rgba(87, 244, 210, 0.25) 51.75px,
      rgba(87, 244, 210, 0.25) 69px,
      rgba(87, 244, 210, 0.3) 69px,
      rgba(87, 244, 210, 0.3) 86.25px,
      rgba(87, 244, 210, 0.75) 86.25px,
      rgba(87, 244, 210, 0.75) 103.5px,
      rgba(87, 244, 210, 0.2) 103.5px,
      rgba(87, 244, 210, 0.2) 120.75px,
      transparent 120.75px,
      transparent 138px
    ),
    radial-gradient(
      at top left,
      transparent 0,
      transparent 17.25px,
      rgba(87, 244, 210, 0.2) 17.25px,
      rgba(87, 244, 210, 0.2) 34.5px,
      rgba(87, 244, 210, 0.75) 34.5px,
      rgba(87, 244, 210, 0.75) 51.75px,
      rgba(87, 244, 210, 0.3) 51.75px,
      rgba(87, 244, 210, 0.3) 69px,
      rgba(87, 244, 210, 0.25) 69px,
      rgba(87, 244, 210, 0.25) 86.25px,
      rgba(87, 244, 210, 0.75) 86.25px,
      rgba(87, 244, 210, 0.75) 103.5px,
      rgba(87, 244, 210, 0.2) 103.5px,
      rgba(87, 244, 210, 0.2) 120.75px,
      #57f4d2 120.75px,
      #57f4d2 138px,
      transparent 138px,
      transparent 345px
    );
  background-blend-mode: multiply;
  background-size: 138px 138px, 138px 138px;
  background-color: #fcfcfc;
}
